<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.js"></script>

<body ng-app="root" ng-controller="AppController">
  <h1>angularjs@{{ngVersion}}</h1>
  <h3>Reading List: {{books.length}}</h3>
  <input ng-model="newBookName">
  <button ng-click="addBook()">new book</button>
  <ol>
    <li data-ng-repeat="book in books">{{book.name}}</li>
  </ol>
</body>

<script>
angular.module("root", []).controller("AppController", function($scope) {
  $scope.ngVersion = angular.version.full;
  $scope.newBookName = '';
  $scope.books = [
    {name: 'Pride and Prejudice' },
    {name: 'To Kill a Mockingbird' },
    {name: 'The Great Gatsby' },
  ];

  $scope.addBook = () => {
    $scope.books.push({name: $scope.newBookName});
  };
});
</script>
