<style>
  iframe {
    width: 250px;
    height: 250px;
    border: 1px solid black;
  }
</style>
<div>
  <iframe class=vue src='./vue1.html'></iframe>
  <iframe class=vue src='./vue2.html'></iframe>
  <iframe class=vue src='./vue3.html'></iframe>
</div>
<div>
  <!--iframe class=react src='./react15.html'></iframe-->
  <iframe class=react src='./react16.html'></iframe>
  <iframe class=react src='./react17.html'></iframe>
</div>
<div>
  <iframe class=ng src='./angularjs.html'></iframe>
</div>
