<link rel=stylesheet href='./style.css'>
<script src="https://unpkg.com/vue@1.0.28/dist/vue.js"></script>

<div id=root></div>

<script>

Vue.component('app-header', Vue.extend({
  template: `
    <h1>vuejs@${Vue.version}</h1>
    <h3>Reading List: {{ bookCount }}</h3>
  `,
  props: [ 'bookCount' ],
}));

Vue.component('new-book', {
  data() {
    return {
      name: '',
    }
  },
  template: `
    <div>
      <input v-model='name' @keypress.enter='onNewBook'>
      <button @click='onNewBook'>new book</button>
    </div>
  `,
  emits: ['newbook'],
  methods: {
    onNewBook() {
      this.$emit('newbook', this.name);
    }
  },
});
Vue.component('book-item', {
  template: `
    <div>
      {{ name }}
    </div>
  `,
  props: ['name'],
});

Vue.component('book-list', {
  props: ['books'],
  template: `
    <ol>
      <li v-for='book in books' :key='book.name'>
        <book-item :name='book.name'></book-item>
      </li>
    </ol>
  `,
});


new Vue({
  el: '#root',

  template: `
    <div>
      <app-header :book-count='books.length'></app-header>
      <new-book @newbook='addNewBook'></new-book>
      <book-list :books='books'></book-list>
    </div>
  `,

  data() {
    return {
      books: [
        {name: 'Pride and Prejudice' },
        {name: 'To Kill a Mockingbird' },
        {name: 'The Great Gatsby' },
      ],
    };
  },

  methods: {
    addNewBook(name) {
      console.log('here');
      this.books.push({name});
    }
  },
});

</script>
